@import '../../styles/colors.scss';

.internal-display {
  display: flex;
  align-items: center;
  opacity: 0.7;
  background-color: $staff;
  padding: 0.5em;
  border-radius: 5px;

  margin-left: 3px;

  i {
    line-height: 1;
    margin-right: 5px;
  }
}
